{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title%}Famous People {% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Famous People</a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">    
    <div class="page-header">
        <h1> Hello!</h1>
    </div>
        <p> What type of information about a subset of famous people would you like to know?</p>
</div>
<div align=center>
{{ wtf.quick_form(form) }}
</div>
{% endblock %}
